html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#questionDisplay, #wrongAnswer, #timeUp, #results {
    text-align: center;
}

.hidden {
    display: none;
}